@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

.preloader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

body {
  background: #fff;
}

.logo i {
  color: #362f2f;
}

.top-left-part .light-logo {
  display: inline-block;
}

.top-left-part .dark-logo {
  display: none;
}

.navbar-header {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.34);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.34);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.34);
}

.navbar-top-links>li>a {
  color: #362f2f;
}

.right-sidebar .rpanel-title {
  background: #6003c8;
}

.bg-title .breadcrumb .active {
  color: #6003c8;
}

.sidebar {
  background: #fff;
  box-shadow: 1px 0 20px rgba(0,0,0,.08);
}

.sidebar .label-custom {
  background: #00b5c2;
}

#side-menu li a {
  color: #54667a;
  border-left: 0 solid #fff;
}

#side-menu>li>a:focus,#side-menu>li>a:hover {
  background: rgba(0,0,0,.03);
}

#side-menu>li>a.active {
  border-left: 3px solid #6003c8;
  color: #3e4d6c;
  font-weight: 500;
}

#side-menu ul>li>a:hover,#side-menu>li>a.active i {
  color: #6003c8;
}

#side-menu ul>li>a.active {
  color: #3e4d6c;
  font-weight: 500;
}

.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #6003c8;
}

.bg-theme {
  background-color: #6003c8!important;
}

.bg-theme-dark {
  background-color: #00b5c2!important;
}

.chat-list .odd .chat-text {
  background: #6003c8;
}

.btn-custom {
  background: #6003c8;
  border: 1px solid #6003c8;
  color: #fff;
}

.btn-custom:hover {
  background: #6003c8;
  opacity: .8;
  color: #fff;
  border: 1px solid #6003c8;
}

.customtab li.active a,.customtab li.active a:focus,.customtab li.active a:hover {
  border-bottom: 2px solid #6003c8;
  color: #6003c8;
}

.tabs-vertical li.active a,.tabs-vertical li.active a:focus,.tabs-vertical li.active a:hover {
  background: #6003c8;
  border-right: 2px solid #6003c8;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover {
  background: #6003c8;
  color: #fff;